mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="User's profile picture")
    .textAreaContainer
      textarea#postTextarea(placeholder="What's happening?")
      .buttonContainer
        button#submitPostButton(disabled="") Post
